/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bcceb7;
}

.container {
    width: 80%;
    margin: 0 auto;
}


header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


footer {
    margin-top: 40px;
    background: #122741;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}


/* Styles for package collections section */
.package-collections {
    padding: 60px 0;
}

.package {
    margin-bottom: 40px;
    text-align: center;
}

.package img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.package h3 {
    margin-top: 0;
}

.package p {
    color: #666;
}

.package a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.package a:hover {
    background-color: #45a049;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .package img {
        max-width: 100%;
    }
}
